.form {
    display: flex;
    flex-direction: column;
    >* {
        margin-bottom: $m-Size;
    }
}

.form__error {
    color: $dark-pink;
    font-style: italic;
    margin: 0 0 $m-Size 0;
    text-align: center;
}
