.header {
    background: $bright-yellow;
}

.header__button{
    background:$dark-pink;
    border-radius: 8px;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;
    color: white;
    padding: $s-Size;

    @media (max-width: $desktop-breakpoint) {
        background:$dark-pink;
        border-radius: 8px;
        border: none;
        font-size: $font-size-small;
        font-weight: 300;
        color: white;
        padding: $s-Size;
    }
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-Size 0;
}

.header__title {
    img {
        margin: 0;
        width: 380px;
        height: 50px;

        @media (max-width: $desktop-breakpoint) {
            margin-bottom: 0;
            width: 200px;
            height: 28px;
        }
    }
}