.header {
    background: $bright-yellow;
}

.header__button{
    background:$dark-pink;
    border-radius: 8px;
    border: none;
    font-size: $font-size-large;
    font-weight: 300;
    color: white;
    padding: $s-Size;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-Size 0;
}

.header__title {
    img {
        margin: 0;
    }
}